# Data Files:
# Rather than excluding the whole directory structure, lets exclude specific file types. This way we can still store notes or other useful data.
*.qvd
*.xlsx
*.xls
*.xlsm
*.csv

# QVW files.
*.qvw
# Except those with no data.
!*.nd.qvw

# Log files.
*.log
Log.txt

# Temp Files
*.tmp


#### Standard windows gitignore, from https://github.com/github/gitignore
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
